:root {
  --bg-primary-color: #000000;
  --text-primary-color: #ffffff;

  --bg-secundary-color: white;
  --text-secundary-color: black;

  --bg-success-color: #6fff31;
  --text-success-color: #000000;

  --bg-danger-color: #FF3131;
  --text-danger-color: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
