div {
  margin: 0;
  padding: 0;
}
.active,
.selected,
.mat-active,
.mat-selected{
  background-color: #ffc61a !important;
  color: #322a28 !important;
}

.imagen {
  height: 35vh;
  width: 100vw;
  object-fit: cover;
  object-position: bottom;
}
