<app-navbar></app-navbar>
<div class="container-fluid">
  <!-- Seccion imagen -->
  <div class="row justify-content-center col-12">
    <div
      id="imagen"
      class="imagen_perfil"
      [style]="'background-image: url(../../assets/images/'+cliente.img_perfil_name+')'"
    ></div>
    <div id="footer_img" class="mt-3 text-center">
      <h1 class="m-0">{{ cliente.cliente_fname }} {{ cliente.cliente_lname }}</h1>
      <h2>Cliente</h2>
    </div>
  </div>
  <!-- ------------- -->

  <!-- Seccion Informacion -->
  <div class="row col-12 px-5">
    <div class="row mt-3 border-5">
      <div class="col col-5 bg_cafe pt-3 rounded-4">
        <div class="row justify-content-center">
          <mat-icon class="my_bg_yellow">shopping_cart</mat-icon>
        </div>
        <div class="row justify-content-center">
          {{ cliente.pedidos.length }}<br />
          <p class="text-center">Compras</p>
        </div>
      </div>
      <div class="col col-2"></div>
      <div class="col col-5 bg_cafe pt-3 rounded-4">
        <div class="row justify-content-center">
          <mat-icon class="my_bg_rose_light">star</mat-icon>
        </div>
        <div class="row justify-content-center">
          {{ cliente.cliente_rate }}<br />
          <p class="text-center">Calificación</p>
        </div>
      </div>
    </div>

    <div class="row mt-3 border-5">
      <div class="col col-5 bg_cafe pt-3 rounded-4">
        <div class="row justify-content-center">
          <mat-icon class="my_bg_rose">favorite</mat-icon>
        </div>
        <div class="row justify-content-center">
          {{ cliente.cliente_nliked }}<br />
          <p class="text-center">Gustados</p>
        </div>
      </div>
      <div class="col col-2"></div>
      <div class="col col-5 bg_cafe pt-3 rounded-4">
        <div class="row justify-content-center">
          <mat-icon class="my_bg_dark">forum</mat-icon>
        </div>
        <div class="row justify-content-center">
          {{ cliente.cliente_ncomment }}<br />
          <p class="text-center">Reseñas</p>
        </div>
      </div>
    </div>
  </div>
  <!-- ------------------- -->

  <!-- Seccion cerrar sesion -->
  <div class="row col-12">
    <div class="col col-1"></div>
    <button class="btn col col-10 mt-4 p-3 my_primary_color" routerLink="/login-view">
      Cerrar Sesión
    </button>
    <div class="col col-1"></div>
  </div>
  <!-- --------------------- -->
</div>
