* , *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    }

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
    /* Styles */
    body {
        display: grid;
        grid-template:
            "navg       navg"       auto
            "aside      vacio"      auto
            "header     header"     auto
            "contenido  contenido"  auto
            "footr      footr"      auto/
            auto         auto
        ;
    }
    #nav-bar {
        grid-area: navg;
        width: 100%;
        font-size: 1.2ex;
    }
    aside {
        /* background-color: #6fff31; */
        grid-area: aside;
    }
    header {
        grid-area: header;
        width: 100%;
    }
    #contenido {
        grid-area: contenido;
    }
    footer{
        grid-area: footr;
    }

    h1 {
        font-size: 4ex;
    }
}