* , *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    }

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 340px) {
    /* Styles */
    body {
        display: grid;
        grid-template:
            "navg       navg"       auto
            "aside      vacio"      auto
            "header     header"     auto
            "contenido  contenido"  auto
            "footr      footr"      auto/
            auto         auto
        ;
        background: 
        url(../imagenes/BackgroundEspol.png) top left 25vw / 200vw no-repeat,
        url(../imagenes/GreenBackground.png) top 800px left  /1600px no-repeat,
        url(../imagenes/GreenBackground.png) bottom 10px right -300px /1600px no-repeat
        black
    ;
    }
    #nav-bar {
        grid-area: navg;
        width: 100%;
        font-size: 1.2ex;
    }
    aside {
        grid-area: aside;
    }
    header {
        grid-area: header;
        width: 100%;
    }
    #contenido {
        grid-area: contenido;
    }
    footer{
        grid-area: footr;
    }

    h1 {
        font-size: 4ex;
    }

    aside {
        display: flex;
        background-color: #6fff31;
        grid-area: aside;
        border-radius: 20px;
    }
    #bloque-ads1{
        display: none;
    }
    #bloque-ads2{
        text-align: center;
        margin: 5px;
        padding: 6px;
    }
    #bloque-ads3{
        display: none;
    }
}