@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/hk-grotesk.min.css");
* {
    color: white;
    /* background-color: black; */
    font-family: 'HK Grotesk Light', sans-serif;
}

img , video {
    width: 100%;
    height: auto;
}

body {
    margin: 0;
    display: grid;
    row-gap: 0;
    column-gap: 4rem;
    grid-template:
        "navg       .   "       auto
        "header     .   "       auto
        "contenido  aside"      auto
        "footr      footr"      auto/
        auto         auto
    ;
    background: 
        url(../imagenes/BackgroundEspol.png) top left 65vh / 200vh no-repeat,
        url(../imagenes/GreenBackground.png) top 1000px right 400px  /1600px no-repeat,
        url(../imagenes/GreenBackground.png) bottom 10px left 400px /1600px no-repeat
        black
    ;
    /* background-size: contain; */
}
#nav-bar {
    grid-area: navg;
    display: flex;
    align-items: center;
    width: 60%;
    margin: 5%;
}
header {
    grid-area: header;
    width: 50%;
    margin: 5%;
}
#contenido {
    grid-area: contenido;
    margin: 10%;
}
aside {

    background-color: #6fff31;
    grid-area: aside;
}
footer {
    grid-area: footr;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    background: linear-gradient(to right, #000000 0%, #6FFF31 80%, #6FFF31 100%);
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
}

h1 {
    font-family: 'HK Grotesk Bold', sans-serif;
    font-size: 6.5ex;
}

.barra-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    background-color: #6fff31;
    padding: 1%;
    margin: 1%;
    border-radius: 10px;
}
.icono {
    display: inline-block;
    width: 25px;
    height: 25px;
    /* margin: 3.2px; */
    background: none;
}

label {
    font-family: 'HK Grotesk Light', sans-serif;
    width: 20%;
    height: 90%;
    background:none;
    color: #000000;
    border-radius: 10px;
}
.input-text {
    width: 70%;
    color: #6fff31;
    border-radius: 10px;
    padding: 5px;
}
select, textarea {
    width: 70%;
    border-radius: 10px;
    padding: 5px;
}
#botonEnviar {
    width: 24%;
    background-color: #6fff31;
    text-align: center;
}
#chkbox {
    background-color: #6fff31;
    width: 72%;
}
button {
    background: none;
    border: none;
    color: #000000;
}

.logo-myself {
    width: 30%;
}
.nav-opt {
    width: 17.5%;
    justify-content: center;
}

#tabla-estudios {
    border-spacing: 0;
    border: 2px solid white;
    align-content: center;
    width: 100%;
}

td ,th {
    border: 2px solid white;
    text-align: center;
}

th {
    background: #6fff31;
    color: black;
}

#tb-h1 {
    width: 25%;
    text-align: left;
}
.tb-h2 {
    width: 20%;
}

#sub-footer {
    display: flex;
    justify-content: space-between;
    background: none;
    height: 25%;
    width: 100%;
    
}
#footer-final {
    width: 100%;
    background: none;
}
#footer-final > *{
    display: block;
    text-align: center;
}

a, p {
    background: none;
}
hr {
    border-width: 2px;
    border-color: white;
    background: white;
}
.bloque-pfooter {
    margin: 1.1%;
    width: 22%;
    background: none;
}

section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.container-fotos {
    width: 35%;
    margin: 2%;
}
article {
    width: 60%;
    padding: 1.2%;
}
#mifoto {
    border-radius: 50%;
}
#hobbie {
    border-radius: 50%;
}
form {
    display: contents;
    width: 100%;
}
#chkbox, #botonEnviar {
    padding: 1%;
    margin: 1%;
    border-radius: 10px;
}

#MapaBox {
    width: 100%;
    margin-top: 10%;
    height: 350px;
}