.carousel-inner {
  height: 300px;
}

.mat-card {
  height: auto;
}

.card-img {
  height: 115px;
  object-fit: cover;
  object-position: center;
}

.img_carrusel {
  max-height: 22vh;
  object-fit: cover;
}

.none_card {
  display: none;
}
