<app-navbar></app-navbar>
<!-- Campo del selector -->
<mat-form-field
  appearance="fill"
  class="my_primary_color pt-3 container-fluid d-block text-center"
>
  <mat-label>Seleccione una sección de productos</mat-label>
  <mat-select class="my_primary_color w-75" [(ngModel)]="seleccion">
    <mat-option>Ninguno</mat-option>
    <mat-option *ngFor="let cat of categorias" value="{{ cat.categoria_id }}">
      {{ cat.categoria_name }}
    </mat-option>
    <mat-option value="4" disabled>Jugos</mat-option>
  </mat-select>
</mat-form-field>
<!-- ------------------ -->
<!-- <h1>{{seleccion}}</h1> -->
<!-- Campo del carrusel -->
<div
  id="carouselProducts"
  class="my-4 carousel slide text-center"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div
      class="carousel-item"
      *ngFor="let cate of categorias"
      [ngClass]="cate.categoria_id == 1 ? 'active' : ''"
      [routerLink]="['/ordenes', cate.categoria_name]"
    >
      <img
        src="{{ cate.categoria_src_img }}"
        href=""
        class="w-75 rounded-4 img_carrusel"
        alt="..."
      />
      <div class="mt-3 position-relative text-start">
        <div class="w-75 position-absolute start-50 translate-middle-x">
          <h2 class="m-0">{{ cate.categoria_name }}</h2>
          <p class="m-0">
            Desde ${{ cate.categoria_min_price }} hasta ${{
              cate.categoria_max_price
            }}
          </p>
          <div class="m-0 d-flex">
            <mat-icon class="m-0">star</mat-icon>
            <p class="m-0 align-self-center">
              {{ cate.categoria_prom_rate }} ({{
                cate.categoria_liked
              }}
              gustados)
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselProducts"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselProducts"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </button>
</div>
<!-- ------------------ -->

<!-- Campo de productos -->
<mat-card
  class="mat-card w-75 p-0 pt-2 mb-3 container-fluid my_bg_dark"
  *ngFor="let categ of categorias"
  [ngClass]="categ.categoria_id == seleccion ? '' : 'none_card'"
>
  <mat-card-title-group>
    <mat-card-title>{{ categ.categoria_name }}</mat-card-title>
    <mat-card-subtitle class="my_bg_dark">{{
      categ.categoria_descript
    }}</mat-card-subtitle>
  </mat-card-title-group>
  <mat-card-content>
    <mat-card
      class="mat-card p-0 m-0 mb-3 container my_bg_dark"
      *ngFor="let producto of categ.productos"
    >
    <div [routerLink]="['/ordenes', categ.categoria_name, producto.producto_id]">
      <div class="row">
        <div class="col">
          <img class="card-img" [src]="producto.producto_src_img" />
        </div>
        <div class="col">
          <mat-card-title-group>
            <mat-card-title class="fs-5">{{
              producto.producto_name
            }}</mat-card-title>
          </mat-card-title-group>
          <mat-card-content>
            <div class="m-0 d-flex">
              <mat-icon class="m-0">star</mat-icon>
              <p class="m-0 align-self-center">{{ producto.producto_rate }}</p>
            </div>
            <p class="m-0">Precio: ${{ producto.producto_price }}</p>
            <p class="m-0">
              {{ producto.producto_hora_start }} a
              {{ producto.producto_hora_end }}
            </p>
          </mat-card-content>
        </div>
      </div>
    </div>

    </mat-card>
  </mat-card-content>
</mat-card>
<!-- ------------------ -->

<!-- Campo condicional seleccione una categoria -->
<div class="d-flex justify-content-center">
  <div
    class="mt-4 alert alert-danger w-75"
    role="alert"
    *ngIf="seleccion == 0 || seleccion == undefined"
  >
  <h2 class="fs-4 text-center">
    Para ver los productos debe seleccionar una categoría
  </h2>
  </div>
</div>
<!-- ------------------------------------------ -->
