body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --bg-primary-color: #000000;
  --text-primary-color: #ffffff;

  --bg-secundary-color: white;
  --text-secundary-color: black;

  --bg-success-color: #6fff31;
  --text-success-color: #000000;

  --bg-danger-color: #FF3131;
  --text-danger-color: #ffffff;

  --bg-warning-color: #e0e722;
  --text-warning-color: #000000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}