<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row order_imagen col-12">
    <img
      class="p-0"
      src="../../assets/images/img_milkshake_gruop.webp"
      alt="Batidos de mora"
    />
  </div>
  <div class="px-4 row order_body col-12 pt-4">
    <div class="col col-12">
      <div class="row order_info col-12">
        <div class="col order_text col-10">
          <h1 class="m-0">Batidos</h1>
          <h4 class="m-0">Disponible desde 7H00 hasta 17H00</h4>
          <div class="row group_resenias col-12">
            <div class="col estrellas col-6">
              <mat-icon class="m-0">star</mat-icon>
              <mat-icon class="m-0">star</mat-icon>
              <mat-icon class="m-0">star</mat-icon>
              <mat-icon class="m-0">star</mat-icon>
              <mat-icon class="m-0">star</mat-icon>
            </div>
            <p class="col m-0 p-0 col-6 align-self-center">
              4.7 (1234 Reseñas)
            </p>
          </div>
          <p class="row col-12">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque
            quos, mollitia exercitationem rerum illo fuga aliquid assumenda
          </p>
        </div>
        <div class="col order_likes col-2 text-center">
          <mat-icon class="m-0">favorite</mat-icon>
          <p>4.4k</p>
        </div>
      </div>
      <div class="pt-3 row order_optTitle col-12">
        <p class="col m-0 p-0 col-5">Seleccione el sabor</p>
        <div class="col divider align-self-center"></div>
      </div>
      <div role="tablist">
        <div class="row my-2" *ngFor="let f of products">
          <button
            *ngFor="let product of f.fila"
            class="btn m-0 ms-3 col {{ product.isActive }} my_bg_yellow col-5"
            id="pills-{{ product.name }}-tab"
            data-bs-toggle="pill"
            [attr.data-bs-target]="'#pills-' + product.name"
            type="button"
            role="tab"
            [attr.aria-controls]="'pills-' + product.name"
            [attr.aria-selected]="product.selected"
          >
            {{ product.name }}
          </button>
        </div>
      </div>
      <button
        class="row m-1 mt-4 p-2 order_buy col-12 my_bg_light align-items-center rounded-4"
      >
        <div class="col col-2 text-center">
          <mat-icon>shopping_cart</mat-icon>
        </div>
        <div class="col col-8">Ordenar ahora</div>
        <div class="col col-2">| $0.75</div>
      </button>
    </div>
  </div>
</div>
