<div class="container-fluid m-0 p-0 pt-4">
  <img src="../../assets/images/logo_maru.png" class="img-fluid w-50 logo" alt="">
</div>
<ul class="nav nav-pills p-3 my_bg_dark" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button
      class="nav-link {{ inHome }}"
      id="pills-home-tab"
      data-bs-toggle="pill"
      data-bs-target="#pills-home"
      type="button"
      role="tab"
      aria-controls="pills-home"
      aria-selected="true"
      routerLink="/inicio"
    >
      Inicio
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link {{ inOrders }}"
      id="pills-orders-tab"
      data-bs-toggle="pill"
      data-bs-target="#pills-orders"
      type="button"
      role="tab"
      aria-controls="pills-orders"
      aria-selected="true"
      routerLink="/ordenes"
    >
      Órdenes
    </button>
  </li>
  <li class="nav-item example-spacer"></li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link {{ inInfo }}"
      id="pills-disabled-tab"
      data-bs-toggle="pill"
      data-bs-target="#pills-disabled"
      type="button"
      role="tab"
      aria-controls="pills-disabled"
      aria-selected="false"
      routerLink="/info"
    >
      Más Info
    </button>
  </li>

  <li class="nav-item dropdown">
    <a
      class="nav-link dropdown-toggle {{inPerfil}}"
      data-bs-toggle="dropdown"
      role="button"
      aria-expanded="false"
    >
      Perfil
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" routerLink="/perfil">Ver perfil</a></li>
      <li><a class="dropdown-item">Proyecto 3</a></li>
      <li><a class="dropdown-item">Kevin Chévez</a></li>
      <li><hr class="dropdown-divider" /></li>
      <li><a class="dropdown-item" (click)="onClick()">Cerrar sesión</a></li>
    </ul>
  </li>
</ul>
<div class="divider mb-3"></div>
