/* Estructura principal */
.tarea-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Campo de texto */
.tarea-input {
  width: 350px;
  font-size: 18px;
  background-color: var(--text-info-color);
  color: var(--bg-info-color);
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid var(--bg-warning-color);
  outline: none;
}

/* Boton agregar tarea */
.tarea-btn {
  padding: 16px;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background-color: var(--bg-warning-color);
  color: var(--text-warning-color);
  text-transform: capitalize;
}